html, body{
	height:100%;
}
body{
	background:#fff;
}
@font-face {
	font-family: 'pfb';
	src: url(../fonts/PingFang-Bold.ttf);
}

@font-face {
	font-family: 'pfl';
	src: url(../fonts/PingFang-Light.ttf);
}
@font-face {
	font-family: 'pfc';
	src: url(../fonts/PingFang.ttf);
}
.el-main{
	padding:0;
}
.top-menu:hover {
	cursor: pointer;
	background: #324057;
	/*color: #20a0ff;*/
}
.top-menu:active, .left-menu:active {
	color: #20a0ff;
}
.top-active {
	color: #44B5DF
}
.top-menu, .left-menu {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
}
.left-menu:hover {
	background: #42566C;
}
.pages {
	position: absolute;
	top: 20px;
	right: -5px;
}
.btn-link,.btn-link-large {
	display: inline-block;
	line-height: 1;
	color: #fff;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	margin-right: 10px;
	padding: 7px 9px;
	font-size: 12px;
	border-radius: 4px;
}
.btn-link-large {
	margin: 0;
	padding: 10px 15px;
	font-size: 14px;
}
.add-btn {
	background: #4caf50
}
.add-btn:hover {
	background: #66bb6a
}
.add-btn:active {
	background: #43a047
}
.edit-btn {
	background: #339df7
}
.edit-btn:hover {
	background: #5bb1fa
}
.edit-btn:active {
	background: #047ce2
}
/* .user-menu {
	position: absolute;
	top: 0px;
	right: 100px;
} */
.add-btn-right {
	position: absolute;
	top: 0px;
	right: 0px;
}
.table-head {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #515151
}
.table-head > .title {
  color: #fff;
  padding-left: 10px;
}
.table-head > .icon {
  position: absolute;
  font-size: 20px;
  top: 6px;
  right: 10px;
  cursor: pointer;
}
.table-head > .table-head-btn {
	position: absolute;
  top: 4px;
  right: 10px;
}
.table-head > .table-head-btn:last-child {
	right: 55px;
}
.form-title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}


/* 登录 */

.loginbox {
	width: 31.75rem;
	height: 36.25rem;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 0.5rem;
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 999999999999999;
	padding: 2.9375rem;
	box-sizing: border-box;
}

.loginbox div.login-H {
	overflow: hidden;
}

.loginbox div.login-H .pw {
	float: left;
	font-size: 1.5rem;
}
.loginbox div.login-H .sm {
	float: right;
	width: 11.375rem;
	height: 4rem;
	background: url("../images/sm.png") no-repeat;
	background-size: 11.375rem;
}

.loginbox form {
	margin-top: 1rem;
}

.loginbox form input {
	height: 4rem;
	line-height: 4rem;
	border-radius: 4rem;
	font-size: 1.125rem;
}

.loginbox form button {
	height: 4rem;
	border-radius: 4rem;
	background: #f26222;
	border: none;
	font-size: 1.5rem;
}

.loginbox form button:link,
.loginbox form button:visited,
.loginbox form button:hover,
.loginbox form button:active {
	background: #f26222;
}

.loginbox .wj {
	text-align: right;
	font-size: 1.125rem;
}

.loginbox .wj a {
	margin-left: 1.3125rem;
	color: #878787;
}

.loginbox .other-login {
	padding-top: 2rem;
	height:36px;
	line-height:36px;
}
.loginbox .other-login span{
	display:inline-block;
	height:36px;
	line-height:36px;
	vertical-align: middle;
}
.loginbox .other-login a {
	display:inline-block;
	height:36px;
	width:36px;
	background: url('../images/login-other.png') no-repeat;
	vertical-align: middle;
	margin-right:10px;
}
.loginbox .other-login a.tb{
	background-position: 0 0;
}
.loginbox .other-login a.yl {
	background-position:-50px 0;
}
.loginbox .other-login a.sina {
	background-position: -101px 0;
}
.loginbox .other-login a.zfb {
	background-position: -151px 0;
}
.loginbox .other-login a.dd {
	background-position: -202px 0;
}
/* 底部设置 */
.footer{
	background:#414141;
	color:#c4c4c4;
	display:flex;
	padding:0 4.375rem;
	line-height:70px;
	font-size:1.3125rem;
	font-family: "微软雅黑"
}
.footer div{
	margin-left:3.75rem;
}
.footer .address{
	margin-left:0;
}
.footer .phone{
	padding-left:2.125rem;
	background:url("../images/phone.png") left center no-repeat;
	background-size:2rem;
}
.footer .email{
	padding-left:2.125rem;
	background:url("../images/email.png") left center no-repeat;
	background-size:2rem
}
.footer .copyright{
	color:#7d7d7d;
}